$font: 'Helvetica', Arial, sans-serif;
$white: #fff;
$black: #000;
$borderCardMobile: #bfbfbf;
$backgroundColorTransition: #000;
$colorTransition: #fff;
$subTitle: #79736D;
$border-color: #ccc;
$text-secondary: #777;
$error-color: #d32f2f;
$error-color-hover: #b71c1c;